body {
  background-color: rgb(252, 248, 197);
  padding: 10% 30% 5% 30%;
  font-family: "Roboto", sans-serif;
}

/* text */
h1 {
  margin-bottom: 0%;
  font-size: 3.5rem;
  line-height: 0.75;
  font-weight: 500;
  padding-bottom: 0%;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0%;
}

p li {
  font-size: 1.25rem;
  color: #383636;
}

section {
  padding-bottom: 20%;
}

form {
  text-align: center;
}

/* intro */
.subtitle {
  color: #8a8a8a;
  line-height: 0;
  margin-bottom: 40px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  list-style-type: none;
  padding: 0;
}

/* about */
.btn-cv {
  float: right;
}

.btn-shadow {
  height: 35px;
  border: 2px solid black;
  background-color: rgb(87, 87, 87);
  color: rgb(226, 226, 226);
  font-size: 1rem;
  transition-duration: 0.4s;
}

.btn-shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.29);
}

/* skills */
#first-skill {
  margin-left: 0px;
}
.skill {
  width: 50px;
  margin: 10px 10px 50px;
  align-self: flex-start; /* stop image from stretching in chrome inside flexbox */
}

.skill-box {
  display: flex;
}

/* projects */
.project {
  background-color: rgba(179, 179, 179, 0.356);
  padding: 5px 5px 5px 5px;
  margin: 15px 0px 15px 0px;
  border-radius: 10px;
}
.project:hover {
  background-color: rgba(105, 105, 105, 0.356);
}

.project-name {
  text-align: center;
  margin-top: 0;
}

input {
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffffff93;
  padding: 7px 7px 7px 7px;
  border: 2px solid #747474;
  font-size: 1rem;
}

textarea {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  resize: none;
  background-color: #ffffff93;
  padding: 7px 7px 7px 7px;
  border: 2px solid #747474;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

.btn-submit {
  width: 80px;
  float: right;
}

/* footer */
.footer {
  text-align: center;
  font-size: 1.25rem;
  margin-top: 20%;
  color: #747474;
}

a:link {
  color: rgb(87, 87, 87);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(87, 87, 87);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

/* when broswer window is smaller than 640px */
@media (min-width: 1px) and (max-width: 640px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  }

  .subtitle {
    text-align: center;
  }

  .nav-list {
    /* max-width: 200px; */
    justify-content: center;
  }

  li {
    padding-left: 5px;
    padding-right: 5px;
  }

  body {
    padding: 10% 1% 5% 1%;
  }

  input {
    width: 300px;
  }

  textarea {
    width: 300px;
  }

  .footer {
    font-size: 1rem;
  }
}

/* when window is between 641px and 1000px wide */
@media (min-width: 641px) and (max-width: 1000px) {
  h1 {
    font-size: 3.25rem;
    /* text-align: center; */
  }
  body {
    padding: 10% 20% 5% 20%;
  }
}
